[submodule "SendYourFile-server"]
	path = SendYourFile-server
	url = https://github.com/Extager/SendYourFile-server
[submodule "SendYourFile-client"]
	path = SendYourFile-client
	url = https://github.com/Extager/SendYourFile-client
